.only-phones{
    display: none;
}


@media (max-width: 500px)  {
    .no-phones{
        display: none;
    }

    .only-phones{
        display: inline;
    }

    .hidden{
        position: absolute;
        top: -999999px;
        right: -999999px;
    }
}