<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "GUESSNUMBERTITLE" | translate }}
    </ion-title>
    <a href="https://sounds-f5696.web.app/animal-sounds" slot="end">Sonidos de Animales</a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" ng-init="numAleatorio()">
    <p *ngIf="count > 0" class="numbers">{{ "TRIESNUM" | translate }} {{ count }}</p>

    <p *ngIf="num < 5"></p>
    <form *ngIf="!check && count < 5">
      <ion-item>
        <ion-label position="floating" for="checklabel">{{ "TYPENUM" | translate }} 0 {{ "AND" | translate }} {{ maxNum }}</ion-label>
        <ion-input autofocus="true" clearInput type="number" min="1" max="200" name="checklabel" [(ngModel)] = "num"></ion-input>
      </ion-item>
      <ion-button (click)="checkAnswer()">{{ "CHECKRESULT" | translate }}</ion-button>
    </form>

    <div class="txt-center" *ngIf="check || count > 4">
      <ion-button (click)="newGame()">{{ "RESTART" | translate }}</ion-button>
    </div>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-header *ngIf="count < 5">
        <ion-card-title>
          {{ result }}
        </ion-card-title>
      </ion-card-header>

      <div id="pìc">
        <div *ngIf="check">
          <img src="../../assets/img/success.png" alt="{{ finalEspMsg[0] }}">
        </div>
        
        <div *ngIf="fail && count < 5">
          <img src="../../assets/img/fail.png" alt="{{ finalEspMsg[1] }}">
        </div>
        
        <div *ngIf="count > 4">
          <img src="../../assets/img/loose.png" alt="{{ finalEspMsg[2] }}">
        </div>

        <div *ngIf="check || (fail && count > 5)">
          <p class="score">
            Has necesitado: {{ count }} {{ word }}.
          </p>
          <p [ngClass]="{'good': count==1, 'bad': count>3}" class="message">
            {{ msg }}
          </p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>