<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "CREDITS" | translate }}</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "CREDITS" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="only-web">
    <p>
      {{ "DRIVESENTENCE" | translate }} 
      <a href="https://drive.google.com/file/d/1EbSaQb_nLaB5fiGrNbVsQxmG4lOYM0wH/view?usp=sharing">
        <span class="only-scr">{{ "HIDDENDRIVESENTENCE" |translate }}</span> 
        {{ "GOOGLEDRIVE" | translate }}
      </a>.
    </p>
    <p>
      {{ "GITHUBSENTENCE" | translate }} 
      <a href="https://github.com/BCNITB/EduApp/tree/main/numbers" 
      target="_blank">
        {{ "GITHUBLINK" | translate }} <span class="only-scr">{{ "GITHUBHIDDEN" | translate }}</span>
      </a>
    </p>
    <p>
      {{ "ANDROIDSENTENCE" | translate }} 
      <a href="https://github.com/BCNITB/EduApp/tree/main/numbers/android" target="_blank">
        {{ "ANDROIDLINK" | translate }} <span class="only-scr">{{ "ANDOIRDHIDDEN" | translate }}</span>
      </a>
      .
    </p>
    <p>
      {{ "IOSSENTENCE" | translate }} 
      <a href="https://github.com/BCNITB/EduApp/tree/main/numbers/ios" target="_blank">
        {{ "IOSLINK" | translate }} <span class="only-scr">{{ "IOSHIDDEN" | translate }}</span>
      </a>
      .
    </p>
  </ion-card>

  <ion-card>
    <p>
      <span class="black">{{ "FONSTITLE" | translate }}</span>
      <a href="http://cliparts.co" target="_blank">
        {{ "IMAGELINK" | translate }} <span class="only-scr">{{ "IMAGEHIDDEN" | translate }}</span>
      </a>
    </p>

    <p>
      <span class="black">{{ "SOUNDSTUTLE" | translate }}</span>
      <a href="http://www.sonidosmp3gratis.com" target="_blank">
        {{ "SOUNDSLINK" | translate }} <span class="only-scr">{{ "SOUNDSHIDDEN" | translate }}</span>
      </a>
    </p>
  </ion-card>
</ion-content>