.flex-container, ion-buttons{
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.flex-container div{
    width: 30vw;
}

@media (max-width: 500px)  {
    .flex-container{
        flex-direction: column;
    }

    .flex-container div{
        margin-left: 15vw;
        width: 70vw;
    }
    /*.flex-container{
        
    }*/
}