ion-buttons{
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-direction: row;
    flex-wrap: wrap;
}

/*ion-button{
    width: ;
}*/

@media (max-width: 500px)  {
    .flex-container{
        flex-direction: column;
    }

    ion-button{
        width: 70vw;
    }
    /*.flex-container{
        
    }*/
}