<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "SETTINGS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "SETTINGS" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header text-center>{{ "GAMELEVEL" | translate }}</ion-card-header>
    <ion-card-content>
      <ion-buttons>
        <ion-button fill="solid" color="primary" (click)="changeGuess()">
          <ion-icon name="help" aria-hidden="true" slot="start"></ion-icon>
          {{ "GUESSLEVEL" | translate }}
        </ion-button>
        <ion-button fill="solid" color="primary" (click)="changeSum()">
          <ion-icon name="add" aria-hidden="true" slot="start"></ion-icon>
          {{ "PLUSLEVEL" | translate }}
        </ion-button>
        <ion-button fill="solid" color="primary" (click)="changeProd()">
          <ion-icon name="close" aria-hidden="true" slot="start"></ion-icon>
          {{ "MULTLEVEL" | translate }}
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center>{{ 'LANGSELECTION' | translate }}</ion-card-header>
    <ion-card-content>
      <ion-buttons>
        <ion-button fill="solid" color="primary" (click)="changeLanguage()">
          <ion-icon name="language-outline" aria-hidden="true" slot="start"></ion-icon>
          {{ "CHOOSELANG" | translate}}
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{ "SCRSETTINGS" | translate }}</ion-card-header>
    <ion-card-content>
      <ion-buttons>
        <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="boardOn" (ionChange)="Board()">Vista en pizarra</ion-toggle>
        <ion-button *ngIf="!boardOn" fill="solid" color="primary">
          <ion-icon name="text-outline" aria-hidden="true" slot="start"></ion-icon>
          {{ "TXTSETTINGS" | translate}}
        </ion-button>
        <ion-button *ngIf="!boardOn" fill="solid" color="primary">
          <ion-icon name="color-palette-outline" aria-hidden="true" slot="start"></ion-icon>
          {{ "COLORSETTINGS" | translate}}
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>