<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [translate]="'CREDITS'"></ion-title>
  
  <!--<ion-buttons slot="end">
    <ion-item>
      <ion-label position="floating" [translate]="'LANGUAGE'"></ion-label>
      <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
        <ion-select-option value="ca">Català</ion-select-option>
        <ion-select-option value="es">Castellano</ion-select-option>
        <ion-select-option value="eu">Euskara</ion-select-option>
        <ion-select-option value="gl">Galego</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-buttons>-->
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" [translate]="'CREDITS'"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="only-wev">
    <p>
      La apliación para android puede descargarse del 
      <a href="https://drive.google.com/file/d/1lga4TXuSPPzTQuBDwrClB9S8DfTkmW29/view?usp=sharing" 
      title="Descargar la aplicación en el dispositivo">
        Google Drive de BCNITB.
      </a>
    </p>
    <p>
      El código funete está disponible en el repositorio de Github del 
      <a href="https://github.com/BCNITB/EduApp/tree/main/sounds" title="Repositorio con el código de EduApp (se abre en una ventana)" 
      target="_blank">
        proyecto Sounds de EduApp
      </a>
    </p>
    <p>
      Si se desea ver sólo el código funete de Android. Se puede descarfar desde la 
      <a href="https://github.com/BCNITB/EduApp/tree/main/sounds/android" title="Código para Android (se abre en una nueva ventana)" target="_blank">
        carpeta Android
      </a>
      .
    </p>
  </ion-card>

  <ion-card>
    <p>
      <span class="black" [translate]="'IMGSOURCE'"></span>
      <a href="http://cliparts.co" target="_blank" title="Se abre en una nueva página ClipArts">ClipArts</a>
    </p>

    <p>
      <span class="black" [translate]="'SOUNDSOURCE'"></span>
      <a href="http://www.sonidosmp3gratis.com" target="_blank" title="Se abre en una nueva página sonidos mp3 gratis">
        Sonidos mp3 gratis
      </a>
    </p>
  </ion-card>
</ion-content>
